<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="path" value="C:\Payroll\Payroll\payroll\payroll.core\Infrastructure\Data\Rate.txt" />

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />


    </startup>
</configuration>